@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

:root {
  --border-color: #ffffff4d;
  --p-color: #353232;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgb(141, 185, 141),
    rgb(98, 98, 192)
  );
}
main {
  background-color: #ffffff33;
  backdrop-filter: blur(100px);
  border: 2px solid var(--border-color);
  padding: 20px;
}
.bg1 {
  top: 0;
  left: 100px;
  background-color: red;
}
.bg2 {
  bottom: 50px;
  right: 10px;
  background-color: green;
}
.bg3 {
  bottom: 50px;
  right: 600px;
  background-color: blue;
}
.blur {
  width: 25em;
  height: 25em;
  position: absolute;
  filter: blur(900px);
  opacity: 0.4;
  z-index: -1;
}

h3 {
  text-align: center;
  padding-bottom: 1em;
}
.converter-form {
  display: flex;
  gap: 1em;
}
label {
  display: block;
  text-align: center;
}
input {
  border: 2px solid white;
  outline: none;
  padding: 10px;
  font-size: 1.5em;
  width: 6em;
  background-color: transparent;
}

input:focus {
  border: 2px solid var(--border-color);
}
#parentValue {
  border: none;
  font-size: 16px;
  width: 50px;
  padding: 0;
  margin: 0;
}
#parentValue:focus {
  background-color: red;
}
.value-table {
  border: 2px solid var(--border-color);
}
.value-table {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
}
p {
  text-align: center;
  margin-top: 7px;
  color: var(--p-color);
}
table {
  border-collapse: collapse;
}
td {
  padding: 5px;
  width: 70px;
  text-align: center;
}
td span {
  color: #878787;
}
tr:nth-child(even) {
  background-color: #e9e9e9;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .blur {
    display: none;
  }
}
